---
title: Home
keywords: Jacob Hall, jacob hall, jacob hall economics, economics, economic history, George Mason University, GMU, University of Pennsylvania, UPenn, itinerant kings
layout: archive
---

<img src="assets\images\tapestry.png">
    
    {{ content }}
    
    <h2>{{ site.data.ui-text[site.locale].about_me | default: "Welcome!" }}</h2>
    
    <p> I am a postdoctoral fellow in the Economics Department at the University of Pennsylvania. I graduated with my PhD in Economics from George Mason University in December 2023. </p>
    
    <p> I am an Applied Microeconomist with research projects in the fields of Political Economy and Law & Economics, all drawing on European or American economic history. My research interests include:
    
    <ul>
        <li>The political economy of the historical state</li>
        <li> Economic activity over the long run</li>
        <li>Applied econometrics with a particular emphasis on spatial and network data</li>
    </ul>
    
    <p> I summited Mount Kilimanjaro in the summer of 2024.
    
    <p> I am on the 2024-2025 economics job market.
