---
title: Home
keywords: Jacob Hall, economics, economic history, George Mason University, GMU, University of Pennsylvania, UPenn
layout: archive
---

<img src="assets\images\tapestry.png">

{{ content }}

<h2>{{ site.data.ui-text[site.locale].about_me | default: "Welcome!" }}</h2>

<p> I am currently a postdoctoral fellow in economics at the University of Pennsylvania. I received my PhD in economics from George Mason University in 2023. </p>

<p> I am an applied microeconomist working in the areas of economic history and political economy. My research interests include state formation, political coalition building, and economic activity over the long run. </p>

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
