---
title: Home
keywords: Jacob Hall, jacob hall, jacob hall economics, economics, economic history, George Mason University, GMU, University of Pennsylvania, UPenn, PISM, Penn Initiative for the Study of Markets, economic history, law and economics, historical political economy, itinerant kings, ohio state, The Ohio State University, Chase center, Salmon P. Chase Center
layout: archive
---
<div style="text-align:center; margin:10px 0;">
  <figure style="display:inline-block; margin:0;">
    <img src="assets/images/Peace_Through_Chemistry.png" alt="Roy" style="width:600px;">
    <figcaption style="font-size:14px; color:#555; margin-top:5px; text-align:center;">
      Peace through Chemistry I. Roy Lichtenstein, 1970.
    </figcaption>
  </figure>
</div>

{{ content }}

<h2>{{ site.data.ui-text[site.locale].about_me | default: "Welcome!" }}</h2>

<p>I am an Assistant Professor in the
<a href="https://chasecenter.osu.edu" style="text-decoration: none; color: inherit;">Salmon P. Chase Center for Civics, Culture, and Society</a> at
<span style="color: #BA0C2F;">The Ohio State University</span>.</p>

<p>My research touches on questions in Political Economy, Law & Economics, and Economic Growth by drawing on European and American history. I also make abundant use of spatial and network data.</p>

<p>I received my PhD in Economics from <span style="color: #006633;">George Mason University</span> in 2023. Prior to joining Ohio State, I was a postdoctoral fellow in the economics department at the <span style="color: #011F5B;">University of Pennsylvania</span> and the <span style="color: #011F5B;">Penn Initiative for the Study of Markets</span>.</p>

<!--


<h2> What’s New? </h2>

    <p> <strong>11-17-2024</strong>: I enjoyed participating in the <a href="https://laweconcenter.org"><em>International Center for Law & Economics's </em></a> Big Ideas Workshop on <em> The Economics of Institutions: From Acemoglu to Before and Beyond </em>.</p>

    <p> <strong>11-07-2024</strong>: I had a great time guest-lecturing to the <span style="color: #990000;">University of Richmond's </span> Intro to Macro students on the role institutions play in economic growth. Here are my <a href ="/assets/documents/UR_Institutions_Growth.pdf">presentation slides</a>.</p>
    
    <p> <strong>11-01-2024</strong>: I am happy to say that I am part of the 2024 cohort of Law & Economics Fellows with the <a href="https://laweconcenter.org"><em>International Center for Law & Economics</em></a>.</p>
    
    <p> <strong>9-17-2024</strong>: I am the newest invited member of the <a href="https://nous.network"><em>Network for Constitutional Economics and Social Philosophy (NOUS)</em></a>.</p>
    
-->
